*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
/app/build
/app/release
*.apk
*.aab
*.ap_
*.dex
*.class
*.log
.cxx
.externalNativeBuild
local.properties
keystore.properties
*.jks
*.keystore
!debug.keystore
.kotlin
.navigation
